* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --text: 16px;
  --special-color: #1f7cff;
  --background-color: #e5e5e5;
  --gray-text: #575455;
}

body {
  font-family: 'Poppins', sans-serif;
}

li,
button,
label,
input,
p,
a {
  font-size: 2rem;
}

h1 {
  font-size: 55px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 28px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 16px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #070f18;
  margin: 0 1rem;
}

.container {
  padding: 0 24px;
  margin: 0 auto;
}

/*HEADER*/
nav {
  /* background: #f6f7cc; */
  padding: 40px 0;
}

.main-logo {
  flex: 1 1 20 rem;
  display: flex;
}

.nav-links {
  flex: 3 1 20rem;
  display: flex;
  padding: 0 10rem;
  justify-content: space-around;
}

.login {
  margin-left: auto;
  justify-content: flex-end;
}

.login_sign_in .contact-btn {
  padding: 0.5rem 3rem;
  background: #f5f6fb;
  border-radius: 5rem;
}

/*HERO*/
.hero {
}

.hero_box {
  /* display: flex;
  flex-wrap: wrap;
  overflow: hidden; */
}

.hero-introduction {
  text-align: center;
}

.hero-introduction-title {
  margin: 10px 0 20px;
  font-weight: 700;
  font-size: 38px;
  line-height: 57px;
  color: #000;
}
.hero-introduction-text {
  margin: 10px 0 20px;
  font-size: 16px;
  line-height: 2;
  color: var(--gray-text);
}

.hero-introduction-btn,
.contact-btn {
  width: 180px;
  height: 48px;
  margin: 20px 0;
  font-size: 16px;
  background-color: #1f7cff;
  color: #fff;
  border-radius: 50px;
}

.hero_images {
  position: relative;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: url('/img/main_head.jpg');
}

.hero-companies-title {
  margin: 20px 0;
}
.hero-companies-icons {
  display: flex;
  flex-wrap: wrap;
}
.hero-companies-item {
  margin: 5px 0;
  margin-right: 24px;
}

/*-=MOBILE=-*/
@media screen and (max-width: 375px) {
  .container {
    padding: 0 24px;
  }
  .nav-links {
    display: none;
  }

  .login_sign_in {
    display: none;
  }
  .hero-btn {
    display: flex;
  }

  .hero-introduction-title {
    font-size: 38px;
    line-height: 57px;
    text-align: left;
  }
  .hero-introduction-text {
    font-size: var(--text);
    line-height: 2;
    text-align: left;
  }

  .hero-companies-item img {
    height: 25px;
  }

  /* BENEFITS MOBILE*/
  .benefits {
    margin: 20px 0;
  }
  .ben-titles,
  .contact-titles {
    margin: 20px 0;
    text-align: center;
  }

  .ben-title_1,
  .contact-title_1 {
    color: #f75c4e;
  }
  .ben-text,
  .contact-text {
    font-size: var(--text);
    color: var(--gray-text);
  }

  .ben-box {
    display: flex;
    flex-direction: column;
  }
  .ben-item {
    display: flex;
    margin: 30px 0;
  }

  .ben-icon {
    margin-right: 20px;
  }

  .ben-item-text {
    margin: 10px 0;
    font-size: var(--text);
    line-height: 2;
    color: var(--gray-text);
  }

  /* contact mobile */
  .contact {
    margin: 24px auto;
  }

  .contact-video {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-video video {
    margin: 10px 0;
    width: 100%;
    border-radius: 20px;
  }

  .contact-form {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .contact-email {
    margin: 12px 0;
    height: 48px;
    width: 90%;
    border-radius: 50px;
    border: none;
    font-size: var(--text);
  }
  .contact-email::placeholder {
    color: var(--gray-text);
    font-size: var(--text);
    padding: 12px 24px;
  }

  .contact-btn {
    margin: 0 auto;
    margin-bottom: 24px;
    width: 90%;
  }
}

/*-=TABLET=-*/
@media screen and (min-width: 376px) and (max-width: 834px) {
  .container {
    padding: 0 40px;
  }

  .nav-links {
    display: none;
  }

  .hero-introduction-title {
    font-size: 38px;
    line-height: 2;
    text-align: center;
  }

  .hero-image {
    display: none;
  }
}
