*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;

  --text: 16px;
  --special-color: #1f7cff;
  --background-color: #fff;
  --gray-text: #575455;
  --text-color: #070f18;
  --dark-blue-color: #191047;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: var(--text);
  background-color: var(--background-color);
}

.wrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

[class*='__container'] {
  max-width: 1270px;
  margin: 0px auto;
  padding: 0 24px;
}

.header {
  width: 100%;
}

.header__container {
  display: flex;
  min-height: 128px;
  align-items: center;
}

.header__menu {
  justify-content: center;
  flex: 1 1 auto;
}

.menu {
  display: flex;
  justify-content: center;
}

.menu__list {
  display: flex;
  /* gap: 60px; */
}

.menu__item {
  margin-right: 60px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  color: var(--text-color);
  font-size: var(--text);
  line-height: 1.5;
}

.menu__link:hover {
  text-decoration: underline;
}

.header__btn {
  flex: 0 0 150px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.button {
  display: block;
  border: none;
  border-radius: 50px;

  max-width: 180px;
  font-size: var(--text);
  background-color: var(--special-color);
  color: white;
  transition: all 0.3s ease 0s;

  padding: 12px 40px;
  flex: 0 0 180px;
}

.button:hover {
  background-color: var(--dark-blue-color);
  color: white;
}

.btn_grey {
  color: var(--text);
  background-color: #f5f6fb;
}

/* head section */
/*-------------------------------------------------------*/
.head {
}

.head__box {
  display: flex;
  justify-content: center;
}

.head__expert {
  /* border: 1px solid red; */
  display: flex;
  flex: 1 1 45%;
  flex-direction: column;
  justify-content: center;
}

.head__title {
  max-width: 442px;
  margin-bottom: 30px;
}

.title_h1 {
  font-size: 55px;
  font-weight: 700;
  line-height: 1.5;
}

.head__text {
  margin-bottom: 40px;
}

.text {
  max-width: 400px;
  font-size: var(--text);
  line-height: 2;
  color: var(--gray-text);
}

.head__images {
  /* border: 1px solid red; */
  flex: 1 1 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.head__img {
  top: 0;
  left: 0;
  width: 540px;
  height: 400px;
  border-radius: 50px;
  z-index: 1;
}

.head__img_analytics {
  position: absolute;
  top: 155px;
  left: -29px;
  width: 213px;
  height: 155px;
  border-radius: 16px;
  z-index: 2;
}

.head__img_bulk {
  position: absolute;
  top: 75px;
  left: 443px;
  width: 213px;
  height: 66px;
  border-radius: 16px;
  z-index: 3;
}

.head__companies {
  margin: 80px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.head__companies_title {
  flex: 1 1 15%;
  font-weight: 600;
  font-size: var(--text);
  line-height: 1.5;
}

.head__companies_list {
  flex: 1 1 85%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0 65px;
  flex-wrap: wrap;
}

.head__companies_item {
  /* border: 1px solid red; */
  margin: 10px 30px;
}

.benefits {
}

.benefits__content {
}

.benefits__title {
  text-align: center;
}

.title_h3 {
  font-weight: 700;
  font-size: --text;
  line-height: 1.5;

  color: #f75c4e;
}

.title_h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.5;
}

.benefits__text {
  text-align: center;
  margin: 20px auto;
}

.benefits__box {
  margin: 30px 0;
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
}

.benefits__item {
  /* border: 1px solid red; */
  display: flex;
  max-width: 33.33%;
  margin: 30px auto;
  flex-direction: row;
  align-items: flex-start;
}

.benefits__item-icon {
  /* border: 1px solid red; */
  margin: 0 12px;
}

.benefits__item-content {
  /* border: 1px solid red; */
  margin: 0 12px;
}

.benefits__item-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
}

.benefits__item-text {
}

.item__1 {
  order: 1;
}

.item__2 {
  order: 3;
}

.item__3 {
  order: 4;
}

.item__4 {
  order: 2;
}

.item__5 {
  order: 6;
}

.item__6 {
  order: 5;
}

/* CONTACTS DESKTOP */
/*-------------------------------------------------------*/
.contacts {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contacts__video-box {
  flex: 1 1 60%;
  display: flex;
  justify-content: center;
}

.constacts__video {
  margin: 10px 0;
  border-radius: 40px;
  width: 90%;
}

.contacts__box {
  flex: 1 1 40%;
  margin: 0 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contacts__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title_h2 {
  font-size: 36px;
  line-height: 1.5;
}

.contacts__text {
  margin: 25px 0;
}

.contacts__form {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.contacts__email {
  margin-right: 10px;
  height: 48px;
  width: 55%;
  border-radius: 50px;
  border: none;
  font-size: var(--text);
  background-color: #f5f6fb;
}

.contacts__email::placeholder {
  color: var(--gray-text);
  font-size: var(--text);
  padding: 12px 24px;
}

/* DESKTOP */
/*-------------------------------------------------------*/
@media (max-width: 1512px) {
  [class*='__container'] {
    max-width: 1272px;
  }
}

/* TABLET */
/*-------------------------------------------------------*/
@media (max-width: 833.98px) {
  [class*='__container'] {
    max-width: 754px;
  }

  .menu__list,
  .head__images {
    display: none;
  }

  .head__box {
    display: flex;
  }

  .head__expert {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .head__title {
    margin-bottom: 30px;
    text-align: center;
    max-width: 450px;
  }

  .title_h1 {
    font-size: 55px;
    font-weight: 700;
    line-height: 1.5;
  }

  .head__text {
    margin-bottom: 40px;
    text-align: center;
  }

  .text {
    font-size: var(--text);
    line-height: 2;
    color: var(--gray-text);
  }

  .head__companies {
    margin: 50px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .head__companies_title {
    font-weight: 600;
    font-size: var(--text);
    line-height: 1.5;
    text-align: center;
  }

  .head__companies_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
  }

  .head__companies_item {
    /* border: 1px solid red; */
    margin-right: 1px;
  }

  .benefits {
    margin-top: 100px;
  }

  .benefits__title {
    text-align: center;
  }

  .title_h3 {
    font-weight: 700;
    font-size: --text;
    line-height: 1.5;

    color: #f75c4e;
  }

  .title_h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
  }

  .benefits__text {
    text-align: center;
    margin: 20px auto;
  }

  .benefits__box {
    margin: 30px 0;
  }

  .benefits__list {
    display: flex;
    flex-wrap: wrap;
  }

  .benefits__item {
    /* border: 1px solid red; */
    display: flex;
    max-width: 50%;
    margin: 30px auto;
    flex-direction: row;
    align-items: flex-start;
  }

  .benefits__item-icon {
    /* border: 1px solid red; */
    margin: 0 12px;
  }

  .benefits__item-content {
    /* border: 1px solid red; */
    margin: 0 12px;
  }

  .benefits__item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
  }

  .benefits__item-text {
  }

  .item__1 {
    order: 1;
  }

  .item__2 {
    order: 2;
  }

  .item__3 {
    order: 3;
  }

  .item__4 {
    order: 1;
  }

  .item__5 {
    order: 2;
  }

  .item__6 {
    order: 3;
  }

  /* CONTACTS TABLET */
  /*-------------------------------------------------------*/
  .contacts {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contacts__video-box {
    display: flex;
    /* justify-content: center; */
  }

  .constacts__video {
    margin: 10px auto;
    border-radius: 32px;
    width: 70%;
    /* height: auto; */
  }

  .contacts__box {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .contacts__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .title_h2 {
    font-size: 36px;
    line-height: 1.5;
  }

  .contacts__text {
    margin: 25px auto;
  }

  .contacts__form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  .contacts__email {
    margin: 5px 0;
    height: 48px;
    width: 55%;
    border-radius: 50px;
    border: none;
    font-size: var(--text);
    background-color: #f5f6fb;
  }

  .contacts__email::placeholder {
    color: var(--gray-text);
    font-size: var(--text);
    padding: 12px 24px;
  }

  .contacts__button {
    margin: 5px auto;
    width: 45%;
  }

  .button {
    text-align: center;
    margin: 5px auto;
  }
}

/* MOBILE */
/*-------------------------------------------------------*/
@media (max-width: 375.98px) {
  [class*='__container'] {
    max-width: n one;
  }

  .menu,
  .header__button,
  .head__images {
    display: none;
  }

  .head__box {
    display: flex;
  }

  .head__expert {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .head__title {
    margin-bottom: 30px;
    text-align: left;
  }

  .title_h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.5;
  }

  .head__text {
    margin-bottom: 40px;
    text-align: left;
  }

  .text {
    max-width: 400px;
    font-size: var(--text);
    line-height: 2;
    color: var(--gray-text);
  }

  .head__companies {
    margin: 50px 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .head__companies_title {
    padding: 5px 0;
    text-align: left;
  }

  .head__companies_list {
    justify-content: flex-start;
    padding: 5px 0;
  }

  .head__companies_item {
    margin: 5px 10px 5px 0;
  }

  .benefits {
  }

  .benefits__content {
  }

  .benefits__title {
    text-align: center;
  }

  .title_h3 {
    font-weight: 700;
    font-size: --text;
    line-height: 1.5;

    color: #f75c4e;
  }

  .title_h2 {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
  }

  .benefits__text {
    text-align: center;
  }

  .benefits__box {
    margin: 30px 0;
  }

  .benefits__list {
    display: flex;
    flex-direction: column;
  }

  .benefits__item {
    /* border: 1px solid red; */
    display: flex;
    min-width: 100%;
    margin: 30px auto;
    flex-direction: row;
    align-items: flex-start;
  }

  .benefits__item-icon {
    /* border: 1px solid red; */
    margin: 0 12px;
  }

  .benefits__item-content {
    /* border: 1px solid red; */
    margin: 0 12px;
  }

  .benefits__item-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
  }

  /* CONTACTS MOBILE */
  /*-------------------------------------------------------*/
  .contacts {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contacts__video-box {
    display: flex;
    /* justify-content: center; */
  }

  .constacts__video {
    margin: 10px auto;
    border-radius: 20px;
    width: 100%;
    /* height: auto; */
  }

  .contacts__box {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .contacts__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }

  .title_h2 {
    font-size: 27px;
    line-height: 1.5;
  }

  .contacts__text {
    margin: 25px auto;
  }

  .contacts__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .contacts__email {
    margin: 5px 0;
    height: 48px;
    width: 90%;
    border-radius: 50px;
    border: none;
    font-size: var(--text);
    background-color: #f5f6fb;
  }

  .contacts__email::placeholder {
    color: var(--gray-text);
    font-size: var(--text);
    padding: 12px 24px;
  }

  .contacts__button {
    margin: 5px auto;
    width: 100%;
  }

  .button {
    text-align: center;
    margin: 5px auto;
    min-width: 90%;
  }
}
